<template>
    <require from="./staff"></require>
    <require from="./report"></require>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="btn-group" role="group">
            <a class="btn ${page === 'staff' ? 'btn-info' : 'button-default'}" href="#/staff">Staff <span class="sr-only">(current)</span></a>
            <a class="btn  ${page === 'report' ? 'btn-info' : 'button-default'}" href="#/report">Report <span class="sr-only">(current)</span></a>
        </div>
        <a class="navbar-brand" href="#">Argali</a>
        <button class="nav-link" id="shifts-email" click.trigger="shiftsEmail()">
            <i class="fa fa-envelope"></i>
        </button>
        <a class="nav-link" id="trello" target="_blank" href="https://trello.com/b/74zXOb6I/argali">
            <i class="fa fa-trello"></i>
        </a>
        <button class="nav-link" id="shifts-clear" click.trigger="shiftsClear()">
            <i class="fa fa-trash"></i>
        </button>

    </nav>
    <router-view></router-view>
</template>
